@model cst465termproject.Models.Contact
@{
    ViewData["Title"] = "Contact";
}
@section Top{
    <h1>This is my website</h1>
    <p>It is the best website</p>
}
@section Body{
    @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.LabelFor(m => m.Name, new {@class = "form-group"})
        @Html.TextBoxFor(m => m.Name, "Name", new { @class = "form-control", required = "required" })
        @Html.LabelFor(m => m.Phone, new { @class = "form-group" })
        @Html.TextBoxFor(m => m.Phone, "Phone", new { @class = "form-control", required = "required" })
        @Html.LabelFor(m => m.Email, new { @class = "form-group" })
        @Html.TextBoxFor(m => m.Email, "E-Mail",  new { @class = "form-control", required = "required" })
        @Html.LabelFor(m => m.Message, new { @class = "form-group" })
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = "5", required = "required" } )
        <button type="submit" formmethod="post">Submit</button>
    }
}​

